.bg-color {
    background-color: #010101;
}

.page-align {
    text-align: center;
}

.image-size {
    width: 20%;
}

.txt-color {
    color: white;
}

.board-image {
    background: #FFF;
    box-shadow: 0 0 14px 0 rgba(242, 5, 68, 95);
    border-radius: 30px;
    padding: 2px;
}